<header class="site-header">

    <nav class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button aria-controls="navbar" aria-expanded="false" class="navbar-toggle collapsed" data-target="#navbar" data-toggle="collapse" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img class="header-image" src="{{ '/css/icon.png' | prepend: site.baseurl }}">
                <a class="navbar-brand" href="http://418stat.us">418 Status</a>
            </div>
            <div class="navbar-collapse collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="http://418stat.us">Home</a>
                    </li>
                    <li>
                        <a href="https://twitter.com/CodeQuicksand">Twitter</a>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>

</header>
